/** ========== START OF ZERO STYLES ========== */
html, body {
	height: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* Kevin Powell */
img {
	/*display: block;
	max-width: 100%;*/

vertical-align: top;	
}




body {
	/*min-height: 100vh;*/
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

